<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"> 
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>ua.shevchuk.controller.Controller</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/SetLanguage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/LogIn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/DisplayTests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/StartTesting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/SaveQuestion</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>BadRequestFilter</filter-name>
		<filter-class>ua.shevchuk.filters.BadRequestFilter</filter-class>
	</filter>
    
	<filter-mapping>
		<filter-name>BadRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    
</web-app>